swagger: "2.0"
info:
  version: "0.1.1"
  title: NodeJs Workout of the Day App

host: api.doe.kitset.io
#host: localhost:10010
basePath: /api/v1
schemes:
  - http
  # - https

consumes:
  - application/json

produces:
  - application/json


# ----------
#
# Routes
#
#
paths:
  /logins:
    x-swagger-router-controller: search.controller
    get:
      operationId: search
      parameters:
        - name: start
          description: 'The API should accept a query parameter for starting date called `start`, which accepts an ISO 8601 "Date and time"'
          in: query
          required: true
          type: string 
          format: date
        - name: end
          description: 'The API should accept a query parameter for ending date called `end`, which accepts an ISO 8601 "Date and time".'
          in: query
          required: true
          type: string 
          
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GetLoginItemsResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"

  /:
    x-swagger-pipe: swagger_raw


# ----------
#
# Models
#
#
definitions:
  
  GetLoginItemsResponse:
    required:
      - data
    properties:
      # The array of LoginItemModels
      data:
        $ref: "#/definitions/ArrayOfLoginItems"

  ArrayOfLoginItems:
    type: array
    items:
      $ref: "#/definitions/LoginItem"

  LoginItem:
    type: object
    properties:
      user:
        type: string 
        description: username of the login entry 
      sitecode:
        type: string
        description: site code of the login entry
      timestamp:
        type: string
        #format: datetime
        description: timestamp of the login entry
    required:
      - user
      - sitecode
      - timestamp


  ErrorResponse:
    required:
      - message
    properties:
      code:
        type: number
      message:
        type: string
      type:
        type: string
